<!doctype html>
<html lang="{{.Site.Language}}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header>
            {{ partial "header.html" . }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer>
            {{ partial "footer.html" . }}
        </footer>
        {{ partial "debug.html" . }}
    </body>
</html>

