{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }} (list)</h1>
    </header>
    {{.Content}}
    <ol>
        {{ range .Pages.ByTitle }}
        <li><a href="{{.Permalink}}">{{ .Title }}</a></li>
        {{ end }}
    </ol>
</article>
{{ end }}
