{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
        <p>
        {{ if .Date }}
        <time datetime="{{ .Date | time.Format "2006-01-02" }}">{{ .Date | time.Format "Monday, 02 January 2006" | humanize }}</time>
        {{ end }}
        {{ if .Draft }} <strong>/draft/</strong>{{ end }}
        </p>
    </header>
    {{ .Content }}
</article>
{{ end }}
