{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }} (tax)</h1>
    </header>
    {{ .Content }}
    <ol>
        {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ol>
</article>
{{ end }}
