{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }} (terms)</h1>
    </header>
    {{ .Content }}
    <ul>
    {{ range .Data.Terms.Alphabetical }}
            <li>
                <a href="{{ .Page.Permalink }}">{{ .Page.Title | title }}</a> ({{ .Count }})
            </li>
    {{ end }}
    </ul>
</article>

<article>
    {{ range $key, $value := .Data.Terms }}
    <h2>
        <a href="{{ $key | urlize }}">{{ $key | title }} ({{ $value.Count }})</a>
    </h2>
    <ol>
        {{ range $value.Pages.ByTitle }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ol>
    {{ end }}
    </section>
</article>
{{ end }}

