@charset "utf-8";

//@import 'normalize';

:root {
    font-size: 100%;
    --font-primary: Georgia, serif;
    --font-mono: Courier New, Monaco, monospace;
    --font-headers: Helvetica, sans-serif;
    //--font-size: 18px;
    --font-size-footer: .8em;
    --line-height: 1.4em;
    --font-color-light: Black;
    --font-color-dark: GhostWhite;
    --background-color-light: FloralWhite;
    --background-color-dark: Black;
    //--font-serif: Palatino, serif;
    --font-weight: 400;
    --space: 1em;
}

html {
    --font-size: 1.1rem;
    line-height: var(--line-height);
    font-size: var(--font-size) !important;
    color: var(--font-color-light);
    background-color: var(--background-color-light);
    //background-color: WhiteSmoke;
    font-family: var(--font-primary);
    font-weight: var(--font-weight);
}

body {
    margin: 0 auto;
    max-width: 38em;
    padding: 1.8em 1.4em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

article {
    //padding: 10px;
    text-align: justify;
    header {
        p {
            font-size: var(--font-size-footer);
            text-align: left;
        }
    }
}

footer {
    font-size: var(--font-size-footer);
    p {
        text-align: center;
    }
}

