{{ define "main" }}
        {{ range .Site.RegularPages }}
        <article>
            <header>
                <h2><a href="{{.Permalink}}">{{ .Title }}</a></h2>
                <p>
                {{ if .Date }}
                <time datetime="{{ .Date | time.Format "2006-01-02" }}">{{ .Date | time.Format "Monday, 02 January 2006" | humanize }}</time>
                {{ end }}
                {{ if .Draft }} <strong>/draft/</strong>{{ end }}
                </p>
            </header>
        {{ .Summary }}
        </article>
        {{ end }}
{{ end }}

